body {
  background-color: #31333b;
  margin: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  padding: 0em 2em 0em 2em;
}

section {
  margin: 20px 20px 20px 20px;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.header .header-logo {
  height: 100%;
  padding: 1em 3em;
}
.header .header-logo img {
  width: 4em;
  height: 4em;
  left: 0px;
}
.header .header-nav {
  padding: 1em;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1em;
}
.header .header-nav ul {
  width: 100%;
  list-style: none;
}
.header .header-nav ul li {
  display: inline-flex;
  padding-left: 10px;
}
.header .header-nav ul li a {
  text-decoration: none;
  color: #6b6b6b;
  font-size: 1em;
}
.header .header-search {
  padding: 2em 3em;
  height: 100%;
}
.header .header-search .search {
  display: inline-flex;
  padding: 3px;
  background-color: #3d3e42;
  border-radius: 5px;
}
.header .header-search .search input {
  width: 80px;
  background-color: #3d3e42;
  border: none;
}
.header .header-search .search i {
  cursor: pointer;
}

.about {
  width: 100%;
}
.about .about-im {
  height: 620px;
  display: flex;
  justify-content: space-between;
}
.about .about-im img {
  display: block;
  position: absolute;
  right: 0px;
  height: inherit;
  z-index: -99999;
}
.about .about-im .im {
  display: inline;
  margin: 3em 3em;
  width: 16em;
  background-color: rgba(209, 210, 218, 0.1843137255);
}
.about .about-im .im p {
  color: white;
  padding: 1em 1em 1em 1em;
}
.about .about-im .im p span {
  font-size: 2em;
  color: #4edfdf;
}
.about .about-im .im a {
  margin-left: 1rem;
  text-decoration: none;
  border: 2px solid #4edfdf;
  color: #4edfdf;
  border-radius: 5px;
  padding: 0.4em;
}
.about .about-im .socialLink {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0em 3em 0em 0em;
}
.about .about-im .socialLink ul {
  list-style: none;
}
.about .about-im .socialLink ul li {
  display: flex;
  padding-top: 8px;
  justify-content: center;
}
.about .about-im .socialLink ul li .line {
  width: 2px;
  height: 50px;
  background-color: #4edfdf;
}
.about .about-im .socialLink ul li a {
  color: white;
}
.about .about-body {
  height: 100%;
}
.about .about-body h2 {
  color: white;
  padding: 0em;
}
.about .about-body .body-im {
  display: inline-flex;
}
.about .about-body .body-im .line {
  margin-top: 10px;
  height: 2px;
  width: 100px;
  background-color: #4edfdf;
}
.about .about-body .body-im .im {
  padding: 0em 0em 0em 2em;
  color: #acabab;
}
.about .about-body .body-im .im p {
  margin: 0px;
}

.mySkills {
  width: 100%;
}
.mySkills .mySkills-header {
  text-align: center;
  color: white;
}
.mySkills ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mySkills ul li {
  margin: 1em;
  width: 120px;
  height: 100px;
  padding: 10px 2px 2px 2px;
  text-align: center;
  background-color: #6b6b6b;
  border-radius: 10px;
  cursor: pointer;
}
.mySkills ul li i {
  color: #4edfdf;
  font-size: 3em;
}
.mySkills ul li h6 {
  color: white;
  font-size: inherit;
  margin: 20px;
}
.mySkills ul li:hover {
  background-color: #4edfdf;
}
.mySkills ul li:hover i {
  color: #3d3e42;
  font-size: 3em;
}
.mySkills ul li:hover h6 {
  color: #3d3e42;
}

.protfolio {
  text-align: center;
}
.protfolio .protfolio-header {
  text-align: center;
  color: white;
}
.protfolio ul {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.protfolio ul li {
  width: 20em;
  height: 15em;
  margin: 10px;
}
.protfolio ul li img {
  z-index: -99999;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  position: absolute;
}
.protfolio ul li .details {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4431372549);
}
.protfolio ul li .details h2 {
  margin: 0px;
  padding-top: 30px;
  color: rgba(78, 223, 223, 0.8705882353);
}
.protfolio ul li .details p {
  color: rgba(255, 255, 255, 0.884);
  padding-left: 30px;
  padding-right: 30px;
}
.protfolio ul li .details a {
  text-decoration: none;
  background-color: rgba(78, 223, 223, 0.8705882353);
  color: #3d3e42;
  padding: 5px;
  font-size: 0.7em;
  border-radius: 10px;
}
.protfolio a {
  text-decoration: none;
  padding: 10px;
  background-color: rgba(78, 223, 223, 0.8705882353);
  color: #3d3e42;
  border-radius: 5px;
}

.experience {
  width: 100%;
}
.experience .experience-header {
  color: white;
}
.experience .experience-header h2 {
  margin-top: 20px;
  margin-bottom: 0px;
}
.experience .experience-Details {
  display: inline-flex;
}
.experience .experience-Details .experience-left {
  height: 100%;
  width: 50em;
}
.experience .experience-Details .experience-List {
  text-align: justify;
}
.experience .experience-Details .experience-List ul {
  margin: 0px;
  list-style: none;
  width: auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.experience .experience-Details .experience-List ul .noti {
  width: 100%;
  display: inline-flex;
  margin-top: 20px;
}
.experience .experience-Details .experience-List ul .noti .year {
  display: inline-flex;
}
.experience .experience-Details .experience-List ul .noti .year h5 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px;
  padding: 5px;
  background-color: #3d3e42;
}
.experience .experience-Details .experience-List ul .noti .year div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-left: 20px solid #3d3e42;
  border-bottom: 13px solid transparent;
  border-top: 12px solid transparent;
}
.experience .experience-Details .experience-List ul .noti .noti-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience .experience-Details .experience-List ul .noti .noti-header img {
  width: 30px;
}
.experience .experience-Details .experience-List ul .noti .noti-header div {
  width: 2px;
  height: 83%;
  background-color: #4edfdf;
}
.experience .experience-Details .experience-List ul .noti .details h2 {
  margin-top: 0px;
  margin-bottom: 8px;
}
.experience .experience-Details .experience-List ul .noti .details h4 {
  margin-top: 0px;
  margin-bottom: 8px;
}
.experience .experience-Details .experience-List ul .noti .details p {
  margin: 0px;
}/*# sourceMappingURL=main.css.map */