body {
    background-color: #31333b;
    margin: 0px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
    padding: 0em 2em 0em 2em;
}

section {
    margin: 20px 20px 20px 20px;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    .header-logo {
        height: 100%;
        padding: 1em 3em;
        img {
            width: 4em;
            height: 4em;
            left: 0px;
        }
    }

    .header-nav {
        padding: 1em;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 1em;
        ul {
            width: 100%;
            list-style: none;
            li {
                display: inline-flex;
                padding-left: 10px;
                a {
                    text-decoration: none;
                    color: #6b6b6b;
                    font-size: 1em;
                }
            }
        }
    }

    .header-search {
        padding: 2em 3em;
        height: 100%;
        .search {
            display: inline-flex;
            padding: 3px;
            background-color: #3d3e42;
            border-radius: 5px;
            input {
                width: 80px;
                background-color: #3d3e42;
                border: none;
            }
            i {
                cursor: pointer;
            }
        }
    }
}

.about {
    width: 100%;
    .about-im {
        height: 620px;
        display: flex;
        justify-content: space-between;
        img {
            display: block;
            position: absolute;
            right: 0px;
            height: inherit;
            z-index: -99999;
        }
        .im {
            display: inline;
            margin: 3em 3em;
            width: 16em;
            background-color: #d1d2da2f;
            p {
                color: white;
                padding: 1em 1em 1em 1em;
                span {
                    font-size: 2em;
                    color: #4edfdf;
                }
            }
            a {
                margin-left: 1rem;
                text-decoration: none;
                border: 2px solid #4edfdf;
                color: #4edfdf;
                border-radius: 5px;
                padding: 0.4em;
            }
        }
        .socialLink {
            height: 100%;
            display: flex;
            align-items: flex-end;
            padding: 0em 3em 0em 0em;
            ul {
                list-style: none;
                li {
                    display: flex;
                    padding-top: 8px;
                    justify-content: center;
                    .line{
                        width: 2px;
                        height: 50px;
                        background-color: #4edfdf;
                    }
                    a {
                        color: white;
                    }
                }
            }
        }
    }
    .about-body {
        height: 100%;
        h2 {
            color: white;
            padding: 0em;
        }
        .body-im{
            display: inline-flex;
            
            .line {
                margin-top: 10px;
                height: 2px;
                width: 100px;
                background-color: #4edfdf;
            }
            .im {
                padding: 0em 0em 0em 2em ;
                color:#acabab;
                p {
                    margin: 0px;
                }
            }
        }
    }
}

.mySkills {
    width: 100%;
    .mySkills-header {
        text-align: center;
        color: white;
    }
    ul {
        list-style: none;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            margin: 1em;
            width: 120px;
            height: 100px;
            padding: 10px 2px 2px 2px;
            text-align: center;
            background-color: #6b6b6b;
            border-radius: 10px;
            cursor: pointer;
            i {
                color: #4edfdf;
                font-size: 3em;
            }
            h6 {
                color: white;
                font-size: inherit;
                margin: 20px;
            }
            &:hover{
                background-color: #4edfdf;
                i {
                    color: #3d3e42;
                    font-size: 3em;
                }
                h6 {
                    color: #3d3e42;
                }
            }
        }
    }
}


.protfolio {
    text-align: center;
    .protfolio-header {
        text-align: center;
        color: white;
    }
    ul {
        list-style: none;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            width: 20em;
            height: 15em;
            margin: 10px;
            img {
                z-index: -99999;
                width: inherit;
                height: inherit;
                display: flex;
                align-items: center;
                position: absolute;
            }
            .details {
                width: 100%;
                height: 100%;
                text-align: center;
                background-color: #00000071;
                h2 {
                    margin: 0px;
                    padding-top: 30px;
                    color: #4edfdfde;
                }
                p {
                    color: rgba(255, 255, 255, 0.884);
                    padding-left: 30px;
                    padding-right: 30px;
                }
                a {
                    text-decoration: none;
                    background-color: #4edfdfde;
                    color: #3d3e42;
                    padding: 5px;
                    font-size: .7em;
                    border-radius: 10px;
                }
            }
        }
    }
    a {
        text-decoration: none;
        padding: 10px;
        background-color: #4edfdfde;
        color: #3d3e42;
        border-radius: 5px;
    }
}
.experience {
    width: 100%;
    .experience-header {
        color: white;
        h2{
            margin-top: 20px;
            margin-bottom: 0px;
        }
    }
    .experience-Details {
        display: inline-flex;
        .experience-left {
            height: 100%;
            width: 50em;
        }

        .experience-List {
            text-align: justify;
            ul {
                margin: 0px;
                list-style: none;
                width:auto;
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                .noti {
                    width: 100%;
                    display: inline-flex;
                    margin-top: 20px;
                    .year{
                        display: inline-flex;
                        h5{
                            height: fit-content;
                            margin: 0px;
                            padding: 5px;
                            background-color: #3d3e42;
                        }
                        div{
                            height: fit-content;
                            border-left: 20px solid #3d3e42;
                            border-bottom: 13px solid transparent;
                            border-top: 12px solid transparent;
                        }
                    }
                    .noti-header{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img {
                            width: 30px;
                        }
                        div{
                            width: 2px;
                            height: 83%;
                            background-color: #4edfdf;
                        }
                    }
                    .details{
                        h2{
                            margin-top: 0px;
                            margin-bottom: 8px;
                        }
                        h4{
                            margin-top: 0px;
                            margin-bottom: 8px;
                        }
                        p{
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
    
}